/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

public/css/app.css
public/css/material-dashboard.css
public/css/slick-theme.css
public/css/slick.css
public/js/app.js
public/js/material-dashboard.js
public/js/main.js
public/manifest.json