body {
    min-width: 769px;
}

.container {
    min-width: 748px!important;
}

@media (min-width: 768px) {
  .container {
    max-width: 748px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 972px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.fa-btn {
    margin-right: 6px;
}

.filter {
    display: inline-block!important;
}
@media (max-width: 576px) {
    .filter .form-group {
      display: flex;
      flex: 0 0 auto;
      flex-flow: row wrap;
      align-items: center;
      margin-bottom: 0;
    }
    .filter .form-group .form-control {
      display: inline-block;
      width: auto; // Prevent labels from stacking above inputs in `.form-group`
      vertical-align: middle;
    }
}

.main-container {
    position: relative;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -63px;
}

/* Set the fixed height of the footer here */
#push {
    margin-top: 20px;
}
#push,
footer {
    height: 63px;
}
footer {
    background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
}

.container.widget.expandable {
    display: none;
}
.container.widget[data-type="chart"] {
    min-height: 500px;
}
.container.widget.expandable.expand {
    display: block;
}

.card {
    border-radius: 0px!important;
}

.bg-transfer {
    #background-color: #efefef;
}

.bg-spend {
    #background-color: #ffc9d5;
}

.bg-income {
    #background-color: #cfe5ce;
}

.card-btns {
    position: absolute;
    z-index: 10;
    left: 0;
    display: none;
}
.card:hover .card-btns {
    display: block;
}



.categories-widget {
    text-align: center;
}
.categories-widget .progress {
    width: 75px;
    height: 75px;
    position: relative;
    margin: 0 auto;
}
.categories-widget .progress .progress-bar {
    width: 100%;
}
.categories-widget .progress .progress-icon {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
}
.categories-widget .progress .progress-icon img{
    width: 70%;
    height: 100%;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
.categories-widget .progress-text {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}
.categories-widget .progress-text span {
    font-size: 13px;
}

.progress.total {
    height: 40px;
}
.progress.total .progress-bar {
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
}
.categories-widget a:hover {
    text-decoration: none;
}

.category-icon {
    width: 60px;
    height: 60px;
}
.category-icon img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
    width: 70%;
    height: 100%;
    
}

.pagination{display:inline-block;padding-left:0;margin:22px 0;border-radius:4px}.pagination>li{display:inline}.pagination>li>a,.pagination>li>span{position:relative;float:left;padding:6px 12px;line-height:1.6;text-decoration:none;color:#3097d1;background-color:#fff;border:1px solid #ddd;margin-left:-1px}.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0;border-bottom-left-radius:4px;border-top-left-radius:4px}.pagination>li:last-child>a,.pagination>li:last-child>span{border-bottom-right-radius:4px;border-top-right-radius:4px}.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{z-index:2;color:#216a94;background-color:#eee;border-color:#ddd}.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{z-index:3;color:#fff;background-color:#3097d1;border-color:#3097d1;cursor:default}.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover{color:#777;background-color:#fff;border-color:#ddd;cursor:not-allowed}.pagination-lg>li>a,.pagination-lg>li>span{padding:10px 16px;font-size:18px;line-height:1.3333333}.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{border-bottom-left-radius:6px;border-top-left-radius:6px}.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{border-bottom-right-radius:6px;border-top-right-radius:6px}.pagination-sm>li>a,.pagination-sm>li>span{padding:5px 10px;font-size:12px;line-height:1.5}.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{border-bottom-left-radius:3px;border-top-left-radius:3px}.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{border-bottom-right-radius:3px;border-top-right-radius:3px}.pager{padding-left:0;margin:22px 0;list-style:none;text-align:center}.pager:after,.pager:before{content:" ";display:table}.pager:after{clear:both}.pager li{display:inline}.pager li>a,.pager li>span{display:inline-block;padding:5px 14px;background-color:#fff;border:1px solid #ddd;border-radius:15px}.pager li>a:focus,.pager li>a:hover{text-decoration:none;background-color:#eee}.pager .next>a,.pager .next>span{float:right}.pager .previous>a,.pager .previous>span{float:left}.pager .disabled>a,.pager .disabled>a:focus,.pager .disabled>a:hover,.pager .disabled>span{color:#777;background-color:#fff;cursor:not-allowed}
