body {
    min-width: 769px;
}

.container {
    min-width: 748px!important;
}

@media (min-width: 768px) {
  .container {
    max-width: 748px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 972px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.fa-btn {
    margin-right: 6px;
}