body {
    min-width: 769px;
}

.container {
    min-width: 748px!important;
}

@media (min-width: 768px) {
  .container {
    max-width: 748px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 972px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.fa-btn {
    margin-right: 6px;
}

.filter {
    display: inline-block!important;
    margin-bottom: -17px;
    border-width: 2px!important;
}
@media (max-width: 576px) {
    .filter .form-group {
      display: flex;
      flex: 0 0 auto;
      flex-flow: row wrap;
      align-items: center;
      margin-bottom: 0;
    }
    .filter .form-group .form-control {
      display: inline-block;
      width: auto; // Prevent labels from stacking above inputs in `.form-group`
      vertical-align: middle;
    }
}