#operationsList {
  max-width: 1000px;
  margin: auto;
}
.card.card-stats {
  margin-left: 15px; 
  margin-right: 15px;
  width: 125px;
  padding: 10px 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  .card-title {
    margin-bottom: 0px;
  }
  
  h3.card-title {
    text-align: right;
  }
  .card-stats-img {
    margin: -20px 0;
  }
}
.container.widget {
  &.expandable {
    display: none;
  }
  &[data-type="chart"] {
    min-height: 500px;
  }
  &.expandable.expand {
    display: block;
  }
}

.category-icon {
    width: 4rem;
    height: 4rem;
    display: inline-block;
    margin: auto;
    float: left;
    margin-right: 0.4rem;
    text-align: center;

    i {
        font-size: 3rem;
        line-height: 4rem;
    }
}

@media (max-width: 576px) {
    .category-icon {
        width: 3rem;
        height: 3rem;
        margin-right: 0.2rem;
        i {
            font-size: 2rem;
            line-height: 3rem;
        }
    }
    
    #operationsList {
      margin: 0 -15px;
    }
    .card-comment {
      margin-top: -7px;
    }
}
.wallet {
    position: relative;
    padding-left: 3rem;
    line-height: 2rem;
    .wallet-img {
        width: 3rem;
        position: absolute;
        left: 0.2rem;
        font-size: 1.3rem;
        text-align: center;
    }
}
.group-title {
	padding-left: 10px;
    margin-top: 0px;
	margin-bottom: 0px;
    padding-right: 0px;
}
.group-summ,
.wallet-summ {
	float: right;
}
.group-summ {
	margin-left: 20px;
}
#wallets-sum {
    padding-left: 0px;
    padding-right: 0px;
    .card {
        margin-top: 0px;
        padding-right: 1rem;
        min-width: 15rem;
        border-radius: 0!important;
        margin-bottom: 1rem;
    }
    .slick-slide {
        margin-right: 10px;
    }
}

#categories-plan {
    margin-top: 20px;
}
.categories-widget.card {
    position: relative;
    width: auto;
    text-align: left;
    margin-right: 1rem;
    padding: 0.5rem 1rem 1rem;
    margin-top: 0;
    cursor: pointer;
    min-width: 10rem;
    margin-bottom: 1rem;
    border-radius:0!important;
}
.categories-widget {
    .categories-icon {
        width: 3rem;
        position: absolute;
        left: 0;
        text-align: center;
        i {
            font-size: 1.5rem!important;
            line-height: 3rem;
        }
    }
    .progress {
        height: 0.2rem;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        .progress-bar {
            width: 100%;
        }
    }
    .categories-info {
      font-weight: bold;
      white-space: nowrap;
      margin-left: 2rem;
    }
}

#categories-plan .row {
    margin-right: -25px;
}

#totals-sum {
    margin-bottom: 40px;
}